/* CSS for Secret Agent Supply Inc. */

html{
  font-size: 18px;
  }

body {
  font-family: Helvetica, sans-serif;
}

.content {
  display: flex;
  width: 960px;
  margin: 0 auto;
}


/* This secction deals with the HEADER */
header {
  background-color: black;
  color: white;
  font-size: 1rem;
}

.content.header {
  align-items: center;
}

header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

header span {
  padding: 0.66rem 0;
}


/* This secction deals with the BANNER */
.banner {
  background-image: url(../images/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.headline {
  width: 20rem;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 2rem 3rem;
  margin-top: 9rem;
}

.headline h1 {
  font-size: 2rem;
  padding-top: 0.25rem;
}


/* This section deals with the NAV */
nav {
  background-color: firebrick;
  color: white;
  margin-bottom: 3rem;
}

nav span {
  padding: 0.75rem 0;
}

nav .content{
  justify-content: space-between;
}


/* This deals with the PRODUCTS section */
.products .content {
  justify-content: space-between;
  margin-bottom: 3rem;
}

.item {
  width: 30%;
  border: 4px solid black;
}

.image {
  height: 9rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 100%;
  max-height: 100%
}

.item h3 {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem 0;
}


/* This section deals with LOCATION AND HOURS section */
#loc_and_hours .content {
  justify-content: space-between;
  margin-bottom: 4rem;
}

.box {
  width: 35%;
}

.box h3 {
  background-color: black;
  color: white;
  padding: 1rem 0 1rem 2rem;
}


/* This section deals with the FOOTER */
footer {
  background-color: black;
  color: white;
}

footer .content {
  align-items: center;
  height: 5rem;
}
